.main_
{
    flex:0 0 auto;
}
.main-sect
{
    width: 100%;
    min-height: 100vh;
    margin:0 auto 0 auto;
    padding-top:15vh;
    display: flex;
    flex-direction:column ;
    align-items: center;
    
}
.main-sect-sub
{
    width:450px;
    min-height: 500px;
    border:1px solid lightgray;
    border-radius: 4px;
}
.next-btn
{
    padding: 6px 24px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: rgb(69, 110, 245);
    float: right;
}
.try-other-way
{
    color: #1a73e8;
    margin-left: 15px;
    font-weight: 500;
    cursor: pointer;
}